html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0; /*if these set to inherit, will find values below */
  border: 0; /*think of these as base defaults, hard coded in */
  padding: 0; /*spaces between sections */
  font-size: inherit;
  text-align: inherit;
  text-decoration: inherit;

  background: transparent; /*makes each element transparent, doesn't
  /*present an issue with color but if you use image will use new image
  /*within each element instead of one overall image*/

}

body { /*values trickle down */
  line-height: 1.5;
  font-size: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}
