body {
  background-color: white;
  width: 900px;
  margin: 0 auto;
}

aside {
  width: 180px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

section {
  width: 700px;
  display: inline-block;
  vertical-align: top;
}

header > img {
  width: 70px;
}

h1 {
  font-size: 38px;
  color :red;
}

h2 {
  font-size: 32px;
  color: darkturquoise;
}

nav {
  display: inline-block;
}

nav ul li {
  color: tan;
  list-style: none;
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  display: block;
}

ul li a, figure a {
  text-decoration: none;
  color: inherit;
}

/*.ingredients-list {
  list-style: square inside;
}*/

.ingredients-list li {
  margin: 15px 0;
}
ol {
  list-style: georgian inside;
}

ol li:nth-of-type(2n){
  background-color: lightgrey;
  margin: 15px 0;
}

figure {
  color: darkturquoise;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  cursor: pointer;
  background-image: url(https://raw.githubusercontent.com/appacademy/curriculum/master/html-css/assets/stars.png?token=AMHr9m9Zq6kkzOERWw2ObE1KaXTWNCQpks5YvOuYwA%3D%3D);
  vertical-align: bottom;
}

input[type="radio"]:checked { /* how does this fill in the star???*/
  background-position: 30px 30px;
}

select {
  cursor: pointer;
  outline: none;
  margin: 10px 0;
}

input[type="button"] {
  cursor: pointer;
  outline: none;
}

input:last-child {
  background-color: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(70%);
}

h2 + .recipe_review {
  border-top: 1px solid black;
}

textarea {
  width: 350px;
}
