body {
  background-color: white;
}

header > img {
  width: 100px;
}

h1 {
  font-size: 38px;
  color :red;
}

h2 {
  font-size: 32px;
  color: darkturquoise;
}

ul {
  color: tan;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: georgian inside;
}

li:nth-of-type(2n){
  background-color: lightgrey;
}

figure {
  color: darkturquoise;
}

figure a {
  text-decoration: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  cursor: pointer;
  background-image: url(https://raw.githubusercontent.com/appacademy/curriculum/master/html-css/assets/stars.png?token=AMHr9m9Zq6kkzOERWw2ObE1KaXTWNCQpks5YvOuYwA%3D%3D);
  vertical-align: bottom;
}

input[type="radio"]:checked { /* how does this fill in the star??? */
  background-position: 30px 30px;
}

select {
  cursor: pointer;
  outline: none;
}

input[type="button"] {
  cursor: pointer;
  outline: none;
}

input:last-child {
  background-color: gold;
}

input:last-child:hover { /*no space after colon*/
  -webkit-filter: brightness(70%);
}

h2 + .recipe_review {
  border-top: 1px solid black;
}
