<h1>@books.</h1>

<!-- ERB = Embedded ruby code -->

<ul>
   <% @books.each do |book| %>
      <%# used for Ruby logic, not to be rendered %>
    <h1>Au<%= book.title %> by <%= book.author %></li>
      <%#= used for Ruby logic, not to be rendered%>
  <% end %>
</ul>
